<p-panel header="Foo">
  <p-inputNumber [(ngModel)]="length" [min]="1" [max]="100" [showButtons]="true"></p-inputNumber>
  <button type="button" pButton label="Get Foo" (click)="loadFoo()"></button>

  <div *ngIf="fooValue$ | async as foo">
    <div *ngIf="fooCounter$ | async as counter">
      <h4>Value</h4>
      <span class="p-float-label">
        <input id="float-counter" type="text" pInputText disabled>
        <label for="float-counter">{{ foo }} - {{ counter }}</label>
      </span>
    </div>
  </div>
</p-panel>
