<p-panel header="User">
  <h4>Login</h4>
  <div *ngIf="userLogin$ | async as login">
    <span class="p-float-label">
      <input id="float-login" type="text" pInputText disabled>
      <label for="float-login">{{ login }}</label>
    </span>
  </div>
</p-panel>
